<%- include("partials/header") -%>
<h1 class="frontline">Welcome to the sparks bank</h1>
<div class="container-fluid home">
  <div>
  <img src="images/user.jpg"  id="home" >






</div>
 
</div>

<%- include("partials/footer") %>
